<div class="container py-5 d-flex flex-column gap-5">
  <div>
    <h1>Voting Dashboard</h1>
    <hr />
  </div>

  <div class="card">
    <div class="card-header fs-4">{{ poll.question }}</div>
    <form
      class="card-body d-flex flex-column gap-3"
      [formGroup]="castBallotForm"
      (ngSubmit)="voteSubmit()"
    >
      <div>
        <div
          class="form-check"
          *ngFor="let proposal of pollOptions; index as count"
        >
          <input
            class="form-check-input"
            type="radio"
            name="selectedOption"
            id="proposalOption{{ count }}"
            formControlName="selectedOption"
            value="{{ count }}"
          />
          <label class="form-check-label" for="proposalOption{{ count }}">
            {{ proposal }}
          </label>
        </div>
      </div>
      <div class="mb-3 w-100">
        <label for="tokenForThisSelectedOption" class="form-label"
          >How many tokens for this vote?</label
        >
        <input
          type="text"
          class="form-control"
          id="tokenForThisSelectedOption"
          formControlName="tokenAmount"
          placeholder="0.00001"
        />
      </div>
      <button type="submit" class="btn btn-success">Vote</button>
    </form>
  </div>
</div>
