<div class="container py-5">
  <button
    type="button"
    class="btn btn-danger w-100"
    (click)="connectMetamaskWallet()"
  >
    Connect to Metamask
  </button>

  <section class="card p-5 my-5">
    <h3 class="mb-4 fs-2">On-going Polls</h3>

    <ul class="list-group">
      <li
        *ngFor="let poll of allDeployedPolls"
        class="list-group-item d-flex flex-column py-5"
      >
        <span class="fs-4 my-3">{{ poll.question }}</span>

        <div class="d-flex flex-row align-items-center gap-3">
          <button
            class="btn btn-outline-primary"
            [routerLink]="['/voting', poll._id]"
          >
            Vote
          </button>
          <button
            class="btn btn-outline-secondary"
            (click)="getBallotLeader(poll.deploymentAddress)"
          >
            <span
              *ngIf="isFetchingWinner"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Leading Proposal
          </button>
        </div>
      </li>
    </ul>
    <div *ngIf="allDeployedPolls.length === 0" class="mt-3 fs-6 text-secondary">
      (No poll deployment recorded yet - check back later!)
    </div>
  </section>

  <section class="card p-5 my-5">
    <h3 class="mb-4">Recent Votes</h3>

    <ul class="list-group">
      <li
        *ngFor="let vote of recentVotes"
        class="list-group-item d-flex flex-column"
      >
        <span>Question: {{ vote.voteForQuestion }}</span>
        <br />
        <span>Selection: {{ vote.selection }}</span>
        <br />
        <span>Epoch timestamp: {{ vote.creationEpoch }}</span>
        <br />
        <span>By: {{ vote.voterAddress }}</span>
      </li>
    </ul>
    <div *ngIf="recentVotes.length === 0" class="mt-3 fs-6 text-secondary">
      (No votes recorded yet - check back later!)
    </div>
  </section>
</div>
